<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/style.css">
    <title>Ammara</title>
</head>
<body>
     <header>
        <div id="header-container">
            <div id="name">
                <h2>WEB DEVELOPER</h2>
            </div>
            <div id="links">
                   <div id="links-name">
                    <div class="hyper" id="first"><a href="#home" class="nav-link">Home </a>  <div class="line hide"></div></div>
                    <div class="hyper"><a href="#About" class="nav-link">About</a><div class="line hide"></div></div>
                    <div class="hyper"><a href="#Resume" class="nav-link">Resume</a><div class="line hide"></div></div>
                    <div class="hyper"><a href="#Services" class="nav-link">Services</a><div class="line hide"></div></div>
                    <div class="hyper"><a href="#Skills" class="nav-link">Skills</a><div class="line hide"></div></div>
                    <div class="hyper"><a href="#" class="nav-link">Projects</a><div class="line hide"></div></div>
                    <div class="hyper"><a href="#" class="nav-link">My Blog</a><div class="line hide"></div></div>
                    <div class="hyper"><a href="#" class="nav-link">Contact</a><div class="line hide"></div></div>
                  
                   </div>
            </div>
        </div>
       
        </header>
     <main>
        <section id="#Home" class="display">
            <div id="home" >
                <div id="title">
                    <p id="hello">Hello!</p>
                    <h1>I'm <a id="babar">Babar Akhtar</a></h1>
                    <p id="para">Freelance Web Developer</p>
                    <div>
                        <button>
                               Hire me
                        </button>
                        <button id="btu-sec">
                           My Work
                        </button>
                    </div>
                </div>
                <div id="pic">
                   <div id="pic-1">
                    <img id="MyImg" src="black shirt.png">
                   </div>
                </div>
            </div>
        </section>
        <br>
        <br>
        
        <section id="#About" class="display">
                       <div id="section-2">

    <div class="pic2">
        <img src="/pic/black shirt.png">
                               
    </div>
    <div id="info">
         <h1>About Me</h1>
         <h1 id="h1-1">About</h1>
         <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
         <p class="para-info"><a>Name:</a><a class="info-about" id="item-1">Babar Akhtar</a></p>
         <p class="para-info"><a>Date of birth:
            </a><a class="info-about" id="item-2">
                December 11, 2001</a></p>
         <p class="para-info"><a>Address:</a><a class="info-about" id="item-3">
            Sarfraz Colony, House No.290, FSD</a></p>
           <p class="para-info"><a>Zip Code:</a><a class="info-about" id="item-4">3800</a></p>
         <p class="para-info"><a>Email:</a><a class="info-about" id="item-5">babarakhtar93#gmai.com</a></p>
         <p class="para-info"><a>Phone:</a><a class="info-about" id="item-6">+923038761832</a></p>
   
           <p id="project"><a>120</a>&nbsp;Project Complete</p>
     
    <button class="button-1">Download CV</button>
    
    
    
    
    
    
    
    
        </div>
 </div>
        </section>



        <section id="Resume" class="display">

            <div id="resume">
                <h1>Resume</h1>
                <h1 id="h1-2">Resume</h1>
            </div>
            <div>
            <div id="resume-para">
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            </div >
            <div id="item-container">
           <div class="items">
            <div class="item1">
           <h2>2022-2026</h2>
           <h4>Bachelor Degree of Computer Science</h4>
           <p>NATIONAL TEXTILE UNIVERSITY</p>
           <p class="cards-para">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            </div>
            <div class="item2">
                <h2>2020-2022</h2>
                <h4>F.S.C (Pre-Engineering)</h4>
                <p>KIPS COLLEGE, JAIL ROAD, FSD</p>
                <p class="cards-para">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                
           </div>
           </div>
          
           <div class="items">
            <div  class="item1">
                <h2>2018-2020</h2>
                <h4>Matriculation (Pre-Mediacl)</h4>
                <p>Govt.Muslims Girls High School</p>
                <p class="cards-para">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                 </div>
                 <div  class="item2">
                    <h2>2015-2018</h2>
                    <h4>Primary Study</h4>
                    <p>Govt.Muslims Girls High School</p>
                    <p class="cards-para">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    
                </div>
                
           </div>
           
           <div id="btu"><button class="button-1">Download CV</button></div>
    
    </div>
        </section>
        <section id="Services" class="display">

            <div id="resume">
                <h1>Services</h1>
                <h1 id="h1-2">Services</h1>
            </div>
            <div>
            <div id="resume-para">
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
            </div >
            </div>
            <div>
                <div class="item-service">
                    <div id="items-services1" class="items-services">
                        <i class="fa-solid fa-camera-retro"></i>
                        <h1>Photography</h1>
                        <div></div>
                    </div>
                    <div id="items-services2"  class="items-services">
                        <i class="fa-brands fa-wordpress"></i>
                        <h1>WordPress</h1>
                        <div></div>
                    </div>
                    <div id="items-services3"  class="items-services">
                        <i class="fa-brands fa-python"></i>
                        <h1>python</h1>
                        <div></div>
                    </div>
                </div>
                <div class="item-service">
                    <div id="items-services1"  class="items-services">
                        <i class="fa-brands fa-html5"></i>
                        <h1>Html</h1>
                        <div></div>
                    </div>
                    <div id="items-services2"  class="items-services">
                        <i class="fa-brands fa-css3-alt"></i>   
                        <h1>CSS</h1>
                        <div></div>
                    </div>
                    <div id="items-services3"  class="items-services">
                        <i class="fa-brands fa-js"></i>
                        <h1>Java Script</h1>
                        <div></div>
                    </div>
                </div>
            </div>
            </section>
            <section id="" class="display">

                <div id="resume">
                    <h1>Skills</h1>
                    <h1 id="h1-2">Skills</h1>
                </div>
                <div>
                <div id="resume-para">
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                </div>
            
    <div class="bar-containers">
          <div class="bar-items">
              <div class="bar-name">
                   <div class="head">
                         <h1> Wordpress</h1>
                    </div>
                    <div class="data">
                     75%
                      </div>
              </div>
              <div class="percentage">
                    <div class="percentage-1"> </div>
              </div>

        </div>
        <div class="bar-items">
            <div class="bar-name">
                 <div class="head">
                       <h1> Photography</h1>
                  </div>
                  <div class="data">
                   70%
                    </div>
            </div>
            <div class="percentage">
                  <div class="percentage-2"> </div>
            </div>

      </div>
    </div>  
    
    <div class="bar-containers" id="bar-ammara">
        <div class="bar-items">
            <div class="bar-name">
                 <div class="head">
                       <h1> HTML</h1>
                  </div>
                  <div class="data">
                   98%
                    </div>
            </div>
            <div class="percentage">
                  <div class="percentage-3"> </div>
            </div>

      </div>
      <div class="bar-items">
          <div class="bar-name">
               <div class="head">
                     <h1>CSS</h1>
                </div>
                <div class="data">
                 95%
                  </div>
          </div>
          <div class="percentage">
                <div class="percentage-4"> </div>
          </div>

    </div>
  </div>  
        
    <div class="bar-containers" id="bar-ammara">
        <div class="bar-items">
            <div class="bar-name">
                 <div class="head">
                       <h1>Java Script</h1>
                  </div>
                  <div class="data">
                   81%
                    </div>
            </div>
            <div class="percentage">
                  <div class="percentage-5"></div>
            </div>

      </div>
      <div class="bar-items">
          <div class="bar-name">
               <div class="head">
                     <h1>Python</h1>
                </div>
                <div class="data">
                 80%
                  </div>
          </div>
          <div class="percentage">
                <div class="percentage-6"></div>
          </div>

    </div>
  </div>  
       
                </section>

        <section class="display">
                <div id="resume">
                    <h1>Projects</h1>
                    <h1 id="h1-2">Projects</h1>
                </div>
                <div>
                <div id="resume-para">
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                </div> 

                <div class="project-container">
                     <div class="big-item">
                          <img src="/pic/project 3.jpg">
                          <div class="description">
                            <h1>Branding & Amazon Clone</h1>
                           
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita, ipsam? Eum mollitia quasi perferendis obcaecati quibusdam odio optio ipsam maiores. Nobis aperiam pariatur ratione iusto itaque nam nisi necessitatibus est?</p>
                          <button>Live Demo</button>
                        </div>
                     </div>
                     <div class="small-item">
                           <img src="./pic/project 5.jpg">
                           <div class="description">
                            <h1>Branding & Alibaba Clone</h1>
                           
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita, ipsam? Eum mollitia quasi perferendis obcaecati quibusdam odio optio ipsam maiores. Nobis aperiam pariatur ratione iusto itaque nam nisi necessitatibus est?</p>
                          <button>Live Demo</button>
                        </div>
                     </div>
                </div>
                <div class="project-container" class="project1">
                    <div class="small-item">
                        <img src="./pic/project 2.jpg">
                        <div class="description">
                            <h1>Branding & Spotify Clone</h1>
                           
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita, ipsam? Eum mollitia quasi perferendis obcaecati quibusdam odio optio ipsam maiores. Nobis aperiam pariatur ratione iusto itaque nam nisi necessitatibus est?</p>
                          <button>Live Demo</button>
                        </div>
                  </div>
                    <div class="big-item">
                         <img src="./pic/project 6.avif">
                         <div class="description">
                            <h1>Branding & Coffee Clone</h1>
                           
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita, ipsam? Eum mollitia quasi perferendis obcaecati quibusdam odio optio ipsam maiores. Nobis aperiam pariatur ratione iusto itaque nam nisi necessitatibus est?</p>
                          <button>Live Demo</button>
                        </div>
                    </div>
               </div>
               <div class="project-container"  class="project1">
                <div class="big-item">
                     <img src="./pic/project 1.jpg">
                     <div class="description">
                        <h1>Branding & Food Website</h1>
                       
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita, ipsam? Eum mollitia quasi perferendis obcaecati quibusdam odio optio ipsam maiores. Nobis aperiam pariatur ratione iusto itaque nam nisi necessitatibus est?</p>
                      <button>Live Demo</button>
                    </div>
                </div>
                <div class="small-item">
                      <img src="./pic/project 4.jpg">
                      <div class="description">
                        <h1>Branding & Porforilo Website</h1>
                       
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita, ipsam? Eum mollitia quasi perferendis obcaecati quibusdam odio optio ipsam maiores. Nobis aperiam pariatur ratione iusto itaque nam nisi necessitatibus est?</p>
                         <button>Live Demo</button>
                    </div>
                </div>
           </div>
        
        </section>
        <section class="display">
            <div id="resume">
                <h1>My Blogs</h1>
                <h1 id="h1-2">Blogs</h1>
            </div>
            <div>
            <div id="resume-para">
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
            </div> 

            <div id="blog-container">
                <div class="blog-items">
                        <img src="./pic/Is-Computer-Coding-Useful-for-the-Average-Person-1024x683.jpg">
                    
                            
                              <p>JUNE 21, 2019 ADMIN  <i class="fa-regular fa-comment"></i>&nbsp;3</p>
                              <h1> 
                                Why Lead Generation is Key for Business Growth</h1>
                                <p class="blog-para">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                        
                </div>
                <div class="blog-items">
                    <img src="./pic/gettyimages-1451456915-612x612.jpg">
                
                        
                          <p>JUNE 21, 2019 ADMIN  <i class="fa-regular fa-comment"></i>&nbsp;3</p>
                          <h1> 
                            Why Lead Generation is Key for Business Growth</h1>
                            <p class="blog-para">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                    
            </div>
            <div class="blog-items">
                <img src="./pic/code_shutterstock_Vintage-Tone.jpg">
            
                    
                      <p>JUNE 21, 2019 ADMIN  <i class="fa-regular fa-comment"></i>&nbsp;3</p>
                      <h1> 
                        Why Lead Generation is Key for Business Growth</h1>
                        <p class="blog-para">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                
        </div>
      

            </div>
        </section>
        <section class="display">
            <div id="award-container">
                 <div class="award-items">
                    <h1>100</h1>
                    <p>Awards</p>
                 </div>
                 <div class="award-items">
                    <h1>1,200</h1>
                    <p>Complete Projects</p>
                 </div>
                 <div class="award-items">
                    <h1>1,300</h1>
                    <p>Happy Customers</p>
                 </div>
                 <div class="award-items">
                    <h1>200</h1>
                    <p>Coffee Cup</p>
                 </div>
            </div>
            <div id="award-main">
               <h1>I'm <a>Available</a> for freelancing</h1>
               <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
             <button>Hire Me</button>
            </div>
        </section>
        <section class="display">
            <div id="resume">
                <h1>Contacts</h1>
                <h1 id="h1-2">Contacts</h1>
            </div>
            <div>
            <div id="resume-para">
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
            </div> 
            <div id="contact-container">
                <div class="contact-items">
                    <div class="contact-icon"><i class="fa-regular fa-address-card"></i></div>
                    <div class="contact-des">
                        <h1>ADDRESS</h1>
                        <p>Sarfraz Colony, Street No.6, House No.290, FSD</p>
                    </div>
                </div>
                <div class="contact-items">
                    <div class="contact-icon"><i class="fa-solid fa-phone"></i></div>
                    <div class="contact-des">
                        <h1>Phone</h1>
                        <p>+923038761832</p>
                    </div>
                </div>
                <div class="contact-items">
                    <div class="contact-icon"><i class="fa-solid fa-location-arrow"></i></div>
                    <div class="contact-des">
                        <h1>EMAIL ADDRESS</h1>
                        <p>ammaraakhtar93@gmial.com</p>
                    </div>
                </div>
                <div class="contact-items">
                    <div class="contact-icon"><i class="fa-brands fa-linkedin"></i></div>
                    <div class="contact-des">
                        <h1>LINKEDIN</h1>
                        <p>Ammara Akhtar</p>
                    </div>
                </div>
               
            </div>
            <div id="contact-detail">
                <div class="contact-detail-des">
              <form  method="post"  action="/form">
                <input type="text"  placeholder="Enter Your Name" name="firstName">
                <input type="text"  placeholder="Enter Your Email" name="email">
                <input type="Number"  placeholder="Enter Your Phone Number" name="phoneNo">
                <button>Hire Me</button>
              </form>
                </div>
            </div>
        </section>
     </main>
     <footer class="display">
        <div>
            <p>Copyright ©2024 All rights reserved | This template is made with&nbsp;<i class="fa-solid fa-heart"></i> &nbsp;</b>by Ammara</p>
            
        </div>
     </footer>
     <script src="/app.js"></script>
</body>
</html>